html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  min-width: 320px;
  height: 2000px;
  user-select: none;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSerif-Regular";
  src: url("../fonts/PT_Serif/PTSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proximanova-bold";
  src: url("../fonts/proximanova/proximanova-bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proximanova-light";
  src: url("../fonts/proximanova/proximanova-light.otf");
  font-weight: normal;
  font-style: normal;
}
.ptsans-bold {
  font-family: "PTSans-Bold";
}

.ptsans-regular {
  font-family: "PTSans-Regular";
}

.ptserif-regular {
  font-family: "PTSerif-Regular";
}

.proximanova-bold {
  font-family: "proximanova-bold";
}

.proximanova-light {
  font-family: "proximanova-light";
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.td-none {
  text-decoration: none;
}

.row {
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
}

.card-img-top {
  position: relative;
}

.btn-positioned {
  position: absolute;
  left: 0;
  top: 30%;
}

.section1, .section4 {
  background-color: #f6f6f6;
}

.people {
  color: #ffffff;
  background-color: #1a54e7;
  padding: 0.8125rem 1.1875rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.trips {
  color: #ffffff;
  background-color: #d90445;
  padding: 0.8125rem 2rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.tech {
  color: #ffffff;
  background-color: #000;
  padding: 0.8125rem 2rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.nature {
  color: #ffffff;
  background-color: #58b600;
  padding: 0.8125rem 1.1875rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.fashion {
  color: #ffffff;
  background-color: #8200b2;
  padding: 0.8125rem 1.1875rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.categ-links {
  transition: all 0.3s linear;
}

.categ-links:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

.preloa-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding: 1rem;
  }
}
.wrapper {
  max-width: 2000px;
  margin: 0 auto;
}

.top {
  height: 4.375rem;
  background-image: linear-gradient(90deg, #1a54e7 50%, #fff 50%);
  margin: 0 auto;
}

.navbar-brand {
  background: #1a54e7;
}

.navbar-nav:last-child .nav-link {
  color: #1a54e7;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1a54e7;
  margin-left: 5px;
}

.nav-link-blue {
  color: #1a54e7;
  padding-right: 2.1875rem;
  font-size: 1.125rem;
  position: relative;
}
.nav-link-blue:hover {
  text-decoration: none;
}
.nav-link-blue:hover:after {
  content: "";
  width: 71px;
  height: 3px;
  background-color: #1a54e7;
  position: absolute;
  left: -10px;
  top: 200%;
}

.trips3:hover:after {
  left: -15px;
}

.animals4:hover:after {
  left: -5px;
}

.fashion5:hover:after {
  left: -5px;
}

.tech6:hover:after {
  left: -15px;
}

.nav-box {
  padding-right: 2.1875rem;
  position: relative;
}
.nav-box:hover:after {
  content: "";
  width: 71px;
  height: 3px;
  background-color: #1a54e7;
  position: absolute;
  left: -15px;
  top: 146%;
}

nav {
  max-width: 75rem;
}

.nav-link-img {
  background: #f1f1f1;
  padding: 1.5rem;
}

.progress {
  background: linear-gradient(to right, #1a54e7 var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 2px;
  z-index: 1;
}

.carousel {
  position: relative;
}

@media screen and (max-width: 768px) {
  .carousel-img {
    max-width: 535px;
  }
}
#demo .col-md-12 {
  position: absolute;
  z-index: 1;
  top: 0;
  margin: 11.875rem 0 0;
  width: 75rem;
  height: 500px;
}

.covered-title {
  color: white;
  max-width: 53.4609375rem;
  margin: 2.5rem auto 0;
  font-size: 3rem;
}

.covered-block .people {
  position: absolute;
  top: 430px;
  left: 0;
}

.covered-block .card-info {
  position: absolute;
  top: 440px;
  right: 0;
}

@media screen and (max-width: 320px) {
  body {
    height: 320px;
  }
}
.section1 .card {
  margin-top: 3.125rem;
  background-color: #f6f6f6;
}

.firstPicture {
  background: url("../img/firstRowPicture-1.jpg") no-repeat;
  background-size: cover;
  height: 16.25rem;
}

.secondPicture {
  background: url("../img/firstRowPicture-2.jpg") no-repeat;
  background-size: cover;
  height: 16.25rem;
}

@media screen and (min-width: 1125px) {
  .section1 .firstPicture, .secondPicture {
    background-position: right;
  }
}
.card-info {
  color: #b0b0b0;
}

.section1 .card {
  margin-top: 3.125rem;
  background-color: #f6f6f6;
}

.section1 .trips {
  position: relative;
  top: 75%;
}

.section1 .tech {
  position: relative;
  top: 75%;
}

.section2-banner {
  background: url("../img/secondRowPicture.jpg") no-repeat center;
  height: 400px;
  background-size: cover;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  padding-top: 2rem;
}

.section2-title {
  margin: 0;
  padding: 11.25rem 0 1rem;
  font-size: 3rem;
  line-height: 30px;
  font-weight: normal;
}

.section2-text {
  font-size: 1.125rem;
  line-height: 30px;
  width: 610px;
  margin: 0 auto;
}

.section2-block {
  margin-top: 2rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2-link {
  text-decoration: none;
  background-color: #d90445;
  padding: 0.8125rem 1.75rem;
  font-size: 1.125rem;
}

.section2-info-date {
  font-size: 0.875rem;
  margin-right: 1rem;
  color: #b0b0b0;
}

.section2-name-link {
  color: #194bcb;
}

@media screen and (max-width: 320px) {
  .section2-banner {
    width: 320px;
    height: 212px;
    padding-top: none;
    background-position: center topcenter;
    background-size: auto;
  }
}
.section3 {
  padding-top: 2rem;
  background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: change 10s ease-in-out infinite;
  background-size: 400% 100%;
  position: relative;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.section3 .card-info {
  color: #b0b0b0;
}

.thirdRowPicture-1 {
  height: 15.1825rem;
  background: url("../img/thirdRowPicture-1.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.thirdRowPicture-2 {
  height: 15.1825rem;
  background: url("../img/thirdRowPicture-2.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.thirdRowPicture-3 {
  height: 15.1825rem;
  background: url("../img/thirdRowPicture-3.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.fourthRowPicture-1 {
  height: 15.1825rem;
  background: url("../img/fourthRowPicture-1.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.fourthRowPicture-2 {
  height: 15.1825rem;
  background: url("../img/fourthRowPicture-2.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.fourthRowPicture-3 {
  height: 15.1825rem;
  background: url("../img/fourthRowPicture-3.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 576px) {
  .section3 .thirdRowPicture-1 {
    background-size: cover;
  }

  .section3 .thirdRowPicture-2 {
    background-size: cover;
  }

  .section3 .thirdRowPicture-3 {
    background-size: cover;
  }

  .section3 .fourthRowPicture-1 {
    background-size: cover;
  }

  .section3 .fourthRowPicture-2 {
    background-size: cover;
  }

  .section3 .fourthRowPicture-3 {
    background-size: cover;
  }
}
.section3 .trips {
  position: relative;
  top: 75%;
}

.section3 .tech {
  position: relative;
  top: 75%;
}

.section3 .nature {
  position: relative;
  top: 75%;
}

.section3 .people {
  position: relative;
  top: 75%;
}

.section3 .fashion {
  position: relative;
  top: 75%;
}

.section3 .card {
  height: 23.75rem;
}

.section3 .card-text {
  font-size: 1.125rem;
}

.section4 .card {
  margin-top: 3.125rem;
  background-color: #f6f6f6;
  border-radius: 10px;
}

.section4 .trips {
  position: relative;
  top: 75%;
}

.section4 .tech {
  position: relative;
  top: 75%;
}

.section5 {
  height: 26.125rem;
  background: url("../img/Newsletter.png") no-repeat;
  overflow: hidden;
  position: relative;
}

.section5-title {
  font-weight: normal;
  font-size: 3rem;
  margin: 6.5rem 0 0;
}

.section5-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
  margin: 0 0 3rem;
}

.rounded-bar {
  margin: 0 auto;
  width: 25.125rem;
  height: 3.125rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  display: flex;
}

.rounded-link {
  color: #1a54e7;
  background-color: white;
  text-decoration: none;
  padding: 1rem 2.375rem;
  border-radius: 40px;
  margin-left: auto;
}

.footer {
  height: 177px;
  padding: 5rem;
}

.footer-text {
  margin: 0 auto;
  max-width: 648px;
  line-height: 36px;
  text-align: center;
  font-size: 1.125rem;
  color: #a7acbc;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 3rem 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
