html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  min-width: 320px;
  height: 2000px;
  user-select: none;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSerif-Regular";
  src: url("../fonts/PT_Serif/PTSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proximanova-bold";
  src: url("../fonts/proximanova/proximanova-bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proximanova-light";
  src: url("../fonts/proximanova/proximanova-light.otf");
  font-weight: normal;
  font-style: normal;
}
.ptsans-bold {
  font-family: "PTSans-Bold";
}

.ptsans-regular {
  font-family: "PTSans-Regular";
}

.ptserif-regular {
  font-family: "PTSerif-Regular";
}

.proximanova-bold {
  font-family: "proximanova-bold";
}

.proximanova-light {
  font-family: "proximanova-light";
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.td-none {
  text-decoration: none;
}

.row {
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
}

.card-img-top {
  position: relative;
}

.btn-positioned {
  position: absolute;
  left: 0;
  top: 30%;
}

.section1, .section4 {
  background-color: #f6f6f6;
}

.people {
  color: #ffffff;
  background-color: #1a54e7;
  padding: 0.8125rem 1.1875rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.trips {
  color: #ffffff;
  background-color: #d90445;
  padding: 0.8125rem 2rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.tech {
  color: #ffffff;
  background-color: #000;
  padding: 0.8125rem 2rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.nature {
  color: #ffffff;
  background-color: #58b600;
  padding: 0.8125rem 1.1875rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.fashion {
  color: #ffffff;
  background-color: #8200b2;
  padding: 0.8125rem 1.1875rem;
  font-size: 1.125rem;
  font-family: "PTSans-Bold";
}

.categ-links {
  transition: all 0.3s linear;
}

.categ-links:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

.preload-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

@media screen and (max-width: 576px) {
  body {
    background-color: #1a54e791;
  }
}
.wrapper {
  max-width: 2000px;
  margin: 0 auto;
}

.top {
  height: 4.375rem;
  background-image: linear-gradient(90deg, #1a54e7 50%, #fff 50%);
  margin: 0 auto;
}

.nav {
  height: 4.375rem;
  background-color: #fff;
}

.nav-logo-link {
  background: #1a54e7;
  padding: 1rem 2rem 1rem 0;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: normal;
}
.nav-logo-link:hover {
  text-decoration: none;
}
.nav-logo-link span {
  font-weight: bold;
}

.left-list, .right-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.left-link, .right-link {
  font-size: 1.125rem;
  font-family: "PTSans-Regular";
  padding: 1rem;
}
.left-link:hover, .right-link:hover {
  text-decoration: none;
}

.cooperation, .contact {
  margin-top: 0.4rem;
  height: 59px;
}

.left-item {
  display: inline-block;
}

.header .right-link {
  position: relative;
  padding: 1.2rem 0.8rem 1.3rem;
}
.header .right-link:hover {
  border-bottom: 3px solid #1a54e7;
}

.header .right-link-dots {
  padding: 1rem 1rem 0.9rem;
}
.header .right-link-dots:hover {
  border-bottom: 3px solid #1a54e7;
}

.left-link-img {
  padding: 1.4rem 1.5rem 1.4rem;
  background-color: #f6f6f6;
  height: 70px;
}

.left-link {
  color: #b1b1b1;
}

.carousel-img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.header .hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-logo-link {
    padding: 1rem 2rem 1rem 0;
  }

  .header .right-list {
    display: none;
  }

  .cooperation, .contact {
    margin-top: 0;
  }

  .left-list {
    height: 59px;
  }
}
.progress {
  background: linear-gradient(to right, yellow var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 2px;
  z-index: 200;
}

.carousel {
  position: relative;
}

@media screen and (max-width: 768px) {
  .top {
    max-width: 768px;
  }

  .left-link {
    display: none;
  }

  .header .hamburger {
    display: block;
  }
}
@media screen and (max-width: 568px) {
  .left-link-img {
    display: none;
  }
}
.header .covered-block1 {
  position: absolute;
  z-index: 2;
  top: 0;
  margin: 13rem auto 0;
  height: 500px;
  max-width: 74rem;
  padding: 0;
}

.covered-title {
  color: white;
  max-width: 53.4609375rem;
  margin: 2.5rem auto 0;
  font-size: 3rem;
}

#demo .people {
  position: absolute;
  top: 400px;
  left: 0;
}

#demo .card-info {
  position: absolute;
  top: 410px;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .header .covered-block1 {
    max-width: 58rem;
  }
}
@media screen and (max-width: 992px) {
  .header .covered-block1 {
    max-width: 45rem;
  }
}
@media screen and (max-width: 768px) {
  .header .covered-block1 {
    max-width: 33.75rem;
    height: 36rem;
    position: relative;
    padding: 1.5rem 0;
    margin-top: 0;
  }

  .header .covered-title {
    color: #1a54e7;
    margin-top: 0.5rem;
  }

  .top {
    margin: 0 1rem;
  }

  #demo {
    margin-top: 1rem;
  }

  #demo .people {
    position: absolute;
    top: 505px;
    left: 0;
  }

  #demo .card-info {
    position: absolute;
    top: 525px;
    right: 0;
  }
}
@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }

  .header .covered-block1 {
    height: 700px;
  }

  #demo {
    padding: 0 1rem;
  }

  #demo .people {
    top: 580px;
    left: 23%;
    right: 25%;
    text-align: center;
  }

  #demo .card-info {
    top: 660px;
    right: 15%;
  }
}
.section1 .card {
  margin-top: 3.125rem;
  background-color: #f6f6f6;
}

.firstPicture {
  background: url("../img/firstRowPicture-1.jpg") no-repeat;
  background-size: cover;
  height: 16.25rem;
}

.secondPicture {
  background: url("../img/firstRowPicture-2.jpg") no-repeat;
  background-size: cover;
  height: 16.25rem;
}

@media screen and (max-width: 320px) {
  .section1 .secondPicture {
    background-position: center;
  }
}
.card-info {
  color: #b0b0b0;
}

.section1 .card {
  margin-top: 3.125rem;
  background-color: #f6f6f6;
}

.section1 .trips {
  position: relative;
  top: 75%;
}

.section1 .tech {
  position: relative;
  top: 75%;
}

.section2-banner {
  background: url("../img/secondRowPicture.jpg") no-repeat center;
  height: 400px;
  background-size: cover;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  padding-top: 2rem;
}

.section2-title {
  margin: 0;
  padding: 11.25rem 0 1rem;
  font-size: 3rem;
  line-height: 30px;
  font-weight: normal;
}

.section2-text {
  font-size: 1.125rem;
  line-height: 30px;
  max-width: 610px;
  margin: 0 auto;
}

.section2-block {
  margin-top: 2rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2-link {
  text-decoration: none;
  background-color: #d90445;
  padding: 0.8125rem 1.75rem;
  font-size: 1.125rem;
}

.section2-info-date {
  font-size: 0.875rem;
  margin-right: 1rem;
  color: #b0b0b0;
}

.section2-name-link {
  color: #194bcb;
}

@media screen and (max-width: 992px) {
  .section2-info-date {
    color: white;
  }

  .section2-link-name {
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .section2-banner {
    padding: 1rem 0;
  }

  .section2-title {
    margin: 0;
    padding: 2.25rem 0 1rem;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: normal;
  }
}
.section3 {
  padding-top: 2rem;
  background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: change 10s ease-in-out infinite;
  background-size: 400% 100%;
  position: relative;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.section3 .card-info {
  color: #b0b0b0;
  margin-left: 1rem;
}

.thirdRowPicture-1 {
  height: 15.1825rem;
  background: url("../img/thirdRowPicture-1.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.thirdRowPicture-2 {
  height: 15.1825rem;
  background: url("../img/thirdRowPicture-2.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.thirdRowPicture-3 {
  height: 15.1825rem;
  background: url("../img/thirdRowPicture-3.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.fourthRowPicture-1 {
  height: 15.1825rem;
  background: url("../img/fourthRowPicture-1.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.fourthRowPicture-2 {
  height: 15.1825rem;
  background: url("../img/fourthRowPicture-2.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

.fourthRowPicture-3 {
  height: 15.1825rem;
  background: url("../img/fourthRowPicture-3.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 576px) {
  .section3 .thirdRowPicture-1 {
    background-size: cover;
  }

  .section3 .thirdRowPicture-2 {
    background-size: cover;
  }

  .section3 .thirdRowPicture-3 {
    background-size: cover;
  }

  .section3 .fourthRowPicture-1 {
    background-size: cover;
  }

  .section3 .fourthRowPicture-2 {
    background-size: cover;
  }

  .section3 .fourthRowPicture-3 {
    background-size: cover;
  }
}
.section3 .trips {
  position: relative;
  top: 75%;
}

.section3 .tech {
  position: relative;
  top: 75%;
}

.section3 .nature {
  position: relative;
  top: 75%;
}

.section3 .people {
  position: relative;
  top: 75%;
}

.section3 .fashion {
  position: relative;
  top: 75%;
}

.section3 .card {
  height: 23.75rem;
}

.section3 .card-text {
  font-size: 1.125rem;
}

@media screen and (max-width: 768px) {
  .section3 .card-info {
    margin-left: 0;
  }

  .vestibulum {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .vestibulum {
    margin-bottom: 1rem;
  }
}
.section4 .card {
  margin-top: 3.125rem;
  background-color: #f6f6f6;
  border-radius: 10px;
}

.section4 .trips {
  position: relative;
  top: 75%;
}

.section4 .tech {
  position: relative;
  top: 75%;
}

@media screen and (max-width: 320px) {
  .section4 .secondPicture {
    background-position: center;
  }
}
.section5 {
  height: 26.125rem;
  background: url("../img/Newsletter.png") no-repeat;
  overflow: hidden;
  position: relative;
  padding: 0 0.5rem;
}

.section5-title {
  font-weight: normal;
  font-size: 3rem;
  margin: 6.5rem 0 0;
}

.section5-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
  margin: 0 0 3rem;
}

.rounded-bar {
  margin: 0 auto;
  max-width: 25.125rem;
  height: 3.125rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  display: flex;
}

.rounded-link {
  color: #1a54e7;
  background-color: white;
  text-decoration: none;
  padding: 0.85rem 2.375rem;
  border-radius: 40px;
  margin-left: auto;
  transition: 0.5s;
}
.rounded-link:hover {
  text-decoration: none;
}

.footer {
  height: 177px;
  padding: 5rem;
}

.footer-text {
  margin: 0 auto;
  max-width: 648px;
  line-height: 36px;
  text-align: center;
  font-size: 1.125rem;
  color: #a7acbc;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 3rem 5rem;
  }
}
.myModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 200;
}

.myModal .myContainer {
  max-width: 1088.2px;
  margin: 0 auto;
}

.myModal-message {
  max-width: 1188px;
  max-height: 560px;
  background: #fff;
  border-radius: 5px;
  position: fixed;
  top: 13.625rem;
  padding: 0 8.125rem 4rem;
  margin: 0 1rem;
}

.myModal-block {
  max-width: 20rem;
  height: 9.375rem;
  margin: 0 auto;
  position: relative;
}

.myModal-circle1 {
  max-width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: rotate(45deg);
  bottom: 11rem;
  right: 0;
}

.myModal-circle2 {
  max-width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 7px 7px 10px #ebfc8d;
  position: relative;
  transform: rotate(-135deg);
  bottom: 31.5rem;
  background-color: #fff;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myModal-img {
  transform: rotate(-45deg);
  margin: 0 auto;
}

@media screen and (max-width: 902px) {
  .myModal-message {
    padding: 0 4.125rem 2rem;
  }

  .myModal-circle1 {
    max-width: 15rem;
    height: 15rem;
    left: 1%;
    bottom: 8rem;
  }

  .myModal-circle2 {
    max-width: 15rem;
    height: 15rem;
    bottom: 22.75rem;
    left: 1%;
  }

  .myModal-block {
    max-width: 15rem;
    height: 7.03125rem;
  }

  .myModal-img {
    max-width: 141px;
  }
}
@media screen and (max-width: 500px) {
  .myModal-message {
    top: 7.625rem;
    max-width: 410px;
    padding: 0 2.125rem 2rem;
  }

  .myModal-block {
    max-width: 10rem;
    height: 4.6875rem;
  }

  .myModal-circle1 {
    max-width: 10rem;
    height: 10rem;
    bottom: 5rem;
  }

  .myModal-circle2 {
    max-width: 10rem;
    height: 10rem;
    bottom: 14rem;
  }

  .myModal-img {
    max-width: 94px;
  }
}
.myModal-title {
  margin-top: 2rem;
  color: #d92d42;
  font-size: 3rem;
}

.myModal-intro {
  color: #b9bcd1;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.myModal-link {
  color: white;
  background-color: #eb304d;
  max-width: 288px;
  height: 92px;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myModal-link:hover {
  text-decoration: none;
  color: black;
  background: white;
}

@media screen and (max-width: 902px) {
  .myModal-title {
    font-size: 2.5rem;
  }

  .myModal-intro {
    font-size: 1.4rem;
  }

  .myModal-link {
    font-size: 1.125rem;
    max-width: 216px;
    height: 69px;
  }
}
@media screen and (max-width: 500px) {
  .myModal-title {
    font-size: 2rem;
  }

  .myModal-intro {
    font-size: 1rem;
  }

  .myModal-link {
    font-size: 0.75rem;
    max-width: 144px;
    height: 46px;
  }
}

/*# sourceMappingURL=style.css.map */
