html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  min-width: 20rem;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSerif-Regular";
  src: url("../fonts/PT_Serif/PTSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proximanova-bold";
  src: url("../fonts/proximanova/proximanova-bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proximanova-light";
  src: url("../fonts/proximanova/proximanova-light.otf");
  font-weight: normal;
  font-style: normal;
}
.ptsans-bold {
  font-family: "PTSans-Bold";
}

.ptsans-regular {
  font-family: "PTSans-Regular";
}

.ptserif-regular {
  font-family: "PTSerif-Regular";
}

.proximanova-bold {
  font-family: "proximanova-bold";
}

.proximanova-light {
  font-family: "proximanova-light";
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.td-none {
  text-decoration: none;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.row {
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
}

#nature {
  color: white;
  background: #58b600;
  border-radius: none;
}

.card-img-top {
  position: relative;
}

.btn-positioned {
  position: absolute;
  left: 0;
  top: 30%;
}

.nav-link-blue {
  color: #1a54e7;
}

.top {
  height: 4.375rem;
  background-image: linear-gradient(90deg, #1a54e7 50%, #fff 50%);
}

.navbar-brand {
  background: #1a54e7;
}

.navbar-nav:last-child .nav-link {
  color: #1a54e7;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1a54e7;
  margin-left: 5px;
}

.section2 .container {
  padding-left: 0;
}

.section2-banner {
  background: url("../img/secondRowPicture.jpg") no-repeat center;
  width: 1200px;
  height: 400px;
  background-size: cover;
}

.section2-title {
  margin: 0;
  padding: 11.25rem 0 1rem;
  font-size: 3rem;
  line-height: 30px;
  font-weight: normal;
}

.section2-text {
  font-size: 1.125rem;
  line-height: 30px;
  width: 610px;
  margin: 0 auto;
}

.section2-block {
  margin-top: 2rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2-link {
  text-decoration: none;
  background-color: #d90445;
  padding: 0.8125rem 1.75rem;
  font-size: 1.125rem;
}

.section2-info {
  font-size: 0.875rem;
  margin-right: 1rem;
}

.section2-name-link {
  color: #194bcb;
}

@media screen and (max-width: 320px) {
  .section2-banner {
    width: 320px;
    height: 106px;
    background-position: center;
  }
}
.section5 {
  height: 26.125rem;
  background-color: #1a54e7;
  overflow: hidden;
  position: relative;
}

.section5-title {
  font-weight: normal;
  font-size: 3rem;
  margin: 6.5rem 0 0;
}

.section5-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.5rem;
  margin: 0 0 3rem;
}

.rounded-bar {
  margin: 0 auto;
  width: 25.125rem;
  height: 3.125rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  display: flex;
}

.rounded-link {
  color: #1a54e7;
  background-color: white;
  text-decoration: none;
  padding: 1rem 2.375rem;
  border-radius: 40px;
  margin-left: auto;
}

.section5-img {
  position: absolute;
}

.first {
  top: 52px;
  left: 48px;
}

.second {
  top: 30px;
  left: 308px;
}

.third {
  left: 180px;
  top: 196px;
}

.fourth {
  transform: scaleX(-1);
  top: 290px;
  left: 0;
}

.fiveth {
  transform: scaleX(-1);
  top: 345px;
  left: 200px;
}

.sixth {
  transform: scaleX(-1) rotate(-15deg);
  top: 175px;
  left: 397px;
}

.seventh {
  left: 509px;
  top: 318px;
  transform: rotate(17deg);
}

.eighth {
  top: 241px;
  left: 619px;
}

.nineth {
  transform: scaleX(-1);
  left: 525px;
  top: 59px;
}

.tenth {
  left: 928px;
  top: -20px;
}

.eleventh {
  transform: scaleX(-1) rotate(5deg);
  left: 943px;
  top: 368px;
}

.twelth {
  transform: rotate(10deg);
  right: 660px;
  top: 10px;
}

.thirteenth {
  right: 630px;
  transform: scaleX(-1);
}

.fourteenth {
  top: 70px;
  right: 405px;
}

.fiveteenth {
  transform: rotate(-15deg);
  right: 442px;
  top: 268px;
}

.sixteenth {
  transform: scaleX(-1) rotate(-20deg);
  right: 282px;
  bottom: -10px;
}

.seventeenth {
  right: 207px;
  top: 195px;
}

.eighteenth {
  transform: scaleX(-1);
  top: 27px;
  right: 105px;
}

.nineteenth {
  right: 0;
}

@media screen and (max-width: 1366px) {
  .third {
    left: 100px;
  }

  .fourth {
    left: 40px;
  }

  .sixth {
    top: 100px;
    left: 200px;
  }

  .seventh {
    top: 230px;
    left: 300px;
  }

  .eighth {
    top: 80px;
    left: 880px;
  }

  .nineth {
    left: 450px;
  }

  .tenth {
    top: 60px;
    left: 1060px;
  }

  .eleventh {
    left: 600px;
    top: 320px;
  }

  .thirteenth {
    left: 400px;
    bottom: 20px;
  }

  .fourteenth {
    top: 180px;
    right: 200px;
  }

  .fiveteenth {
    right: 470px;
    top: 320px;
  }

  .sixteenth {
    right: 280px;
    bottom: 50px;
  }

  .seventeenth {
    right: 150px;
    top: 300px;
  }

  .eighteenth {
    top: 100px;
    right: 60px;
  }
}
@media screen and (min-width: 576px) {
  .rounded-bar {
    width: 4rem;
  }
}
.footer {
  height: 177px;
  padding: 5rem;
}

.footer-text {
  margin: 0 auto;
  max-width: 648px;
  line-height: 36px;
  text-align: center;
  font-size: 1.125rem;
  color: #a7acbc;
}

/*# sourceMappingURL=style.css.map */
